* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#logo {
  width: 75px;
  height: auto;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

#gabarit_titre a {
  width: 230px;
}

#gabarit_titre h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

#gabarit_titre p {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}
#gabarit_titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#contenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#annonce {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: 23%;
  min-width: 250px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
